article {
    width: calc(100% - 36px);
    margin: 5px;
    padding: 5px 8px;
    background-color: #f3f3f3;
    overflow: auto;
}
article > h2 {
    font-size: 1.5rem;
    font-weight: normal;
    color: #000;
}
article > h2 {
    color: #000;
    text-decoration: none;
}
img {
    float: left;
    padding: 0 15px 15px 0px;
}