<body>
    <!-- Here is our main header that is used across all the pages of our website -->

    <header>
        <h1>The TW Times</h1>
    </header>

    <nav>
        <ul id="navigate">
            <li *ngFor="let section of sections">
                <a [routerLink]="['/section/' + section.sectionId]" [id]="section.sectionId">{{section.name}}</a>
            </li>
        </ul>
    </nav>

    <!-- Here is our page's main content -->
    <main>
        <router-outlet></router-outlet>
    </main>
    <footer>
        <p>©Copyright 2019 by ph's. All rights reversed.</p>
    </footer>