.content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
article {
    width: calc(25% - 36px);
    margin: 5px;
    padding: 5px 8px;
    background-color: #f3f3f3;
}
article > h2 {
    font-size: 1.1rem;
    font-weight: normal;
    color: #000;
}
article > h2 > a {
    color: #000;
    text-decoration: none;
}
article > a > img {
    width: 100%;
}