<article class="article-short">
  <h2>
    <a 
      [routerLink]="['/' + article.section + '/' + article.url]"
      [queryParams]="{id: article.id, origin: article.origin}">{{article.title}}</a>
  </h2>
  <a 
    [routerLink]="['/' + article.section + '/' + article.url]"
    [queryParams]="{id: article.id, origin: article.origin}">
    <img [src]="article.thumbnail" alt="">
  </a>
  <small>{{article.date | date: 'dd/MM/yyyy HH:mm:ss'}}</small><br />
  <small>{{article.author}}</small>
</article>